body{
    background-color: #9B82C4;
}
.header{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border: 2px solid white;
    text-align: center;
    position: static;
    background-color: #584A6F;

}
.header_1{
    display: none;
    margin-top: 10px;
    background-color: #2F0D1E;
    animation:header_1_ani 1s linear;
}
@keyframes header_1_ani{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header_logo{
    width: 15%;
    text-align: left;
}
.header_logo img{
    width: 50%;
}
.header_name{
    width: 20%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color:white;
    font-weight: bold;
}
.navbar_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-flow: row;
    width: 60%;
    text-align: left;
    background-color: transparent;
}
.navbar_div_1{
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
}
.navbar_div a{
    color:white;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    border:none;
    transition: 0.5s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    text-align: center;
}
.navbar_div a:hover{
    color: yellow;
}
.nav_logo{
    cursor: pointer;
    display: none;
}
.nav_logo img{
    transition: 1s;
}
@media only screen and (min-width: 1200px) {
    .header_1 {
        display: none !important;
    }
}
@media only screen and (max-width: 1200px) {
    .nav_logo {
        display: block;
    }
    .navbar_div {
        display: none;
    }
    .header_name{
        width: 40%;
        text-align: center;
    }
    .navbar_div_1 a{
        width: 20%;
        margin: 10px;
        border-bottom: 2px solid white;
    }
}
@media only screen and (max-width: 700px) {
    .header_logo{
        width: 30%;
    }
    .header_name{
        width: 60%;
        text-align: center;
    }
    .navbar_div_1 a{
        width: 40%;
        margin: 10px;
    }

}
